body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: azure;
}

