#home {
  height: 100vh;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  width: 100%;
  max-width: 1200px;
}

.column {
  flex: 1;
  padding: 2rem;
}

#aboutme {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#mypicture {
  display: flex;
  justify-content: center;
  align-items: center;
}

#mypicture img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(221, 14, 149, 0.3);
}

/* General Section Styling */
#education {
  padding: 4rem 2rem;
 
  min-height: 100vh;
  text-align: center;
}

#education h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 2rem;
}

/* Container for Cards */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

/* Container for Important Skill Cards */
.cards-container-importantskill {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}


.importantskill {
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(205, 47, 207, 0.3);
  width: 300px;
  padding: 1.5rem;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #0b000b;  
  color: #f4f1f1;
  
}

.importantskill:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.importantskill h3 {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}

.importantskill p {
  font-size: 0.95rem;
  line-height: 1.5;
}


.card {
 
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(205, 47, 207);
  width: 300px;
  padding: 1.5rem;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}


.card h3 {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
  color: #d5cbcb;
}

.card p {
  color: #f4f1f1;
  font-size: 0.95rem;
  line-height: 1.5;
}

#skills h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.skills-row {
  display: flex;
  flex-wrap: wrap;      
  justify-content: center;
  gap: 1rem;           
}

.skill-card {
  flex: 1 1 120px;      
  max-width: 180px;      
  background-color: #1f021b;
  padding: 1rem;
  text-align: center;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.skill-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}
